<% if signed_in? %>
    <div class="row">
      <div class="jumbotron center">
        <h1>Hello, <%= nickname_for(current_user) %>!</h1>

        <% if current_user.profile.nil? %>
          <%= link_to t('create_profile'), profiles_new_path,
                      class: "btn btn-large btn-primary", id: "create_profile" %>

        <% end %>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="jumbotron center">
        <h1><%= t('welcome') %><%= Starterkit::Application.config.title %>!</h1>

        <%= link_to t('signup_now'), new_user_registration_path,
                    class: "btn btn-large btn-primary", id: "signup" %>
      </div>

    </div>
<% end %>
